.cart-container {
    position: absolute;
    width: 390px;
    height: 470px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    left: 35%;
    z-index: 5;
    overflow: hidden;

    .cart-items {
        height: 370px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        // &:hover  {
        //     overflow: hidden scroll;
        // }
        
    }

    button {
        margin-top: 50px;
    }
}